In [1]:
import pandas as pd

# Import and Clean Scrapped Data

### Apple

In [2]:
#Import scapped data
apple_csv = 'Apple/apple_top_100.csv'
apple = pd.read_csv(apple_csv)

In [3]:
#Rename columns
apple_df = apple.rename(columns = {"Unnamed: 0":"rank",
                                 "Track":"Apple Song",
                                 "Artist":"Apple Artist"})
#Remove line breaks
apple_df = apple_df.replace('\n','', regex=True)

apple_df

,rank,Apple Song,Apple Artist
0,1,The Box,Roddy Ricch
1,2,That Way,Lil Uzi Vert
2,3,Commercial (feat. Lil Uzi Vert),Lil Baby
3,4,Heatin Up,Lil Baby & Gunna
4,5,Blinding Lights,The Weeknd
...,...,...,...
95,96,Solid,Lil Baby
96,97,To Die For,Sam Smith
97,98,Glass in the Face (feat. A Boogie wit da Hoo...,G Herbo
98,99,Puesto Pa' Guerrial,Bad Bunny & Myke Towers
99,100,Roses (Imanbek Remix),SAINt JHN

In [4]:
#creating the html table of apple
Apple_html_table=Apple_df.to_html()
Apple_html_table

In [5]:
#stripping unwanted newlines to clean up the data
Apple_html_table.replace('\n','')

In [6]:
#creating an html table
Apple_df.to_html('Apple Table')

### Billboard

In [7]:
#Import scapped data
billboard_csv = "Billboard/billboard_top_200.csv"
billboard = pd.read_csv(billboard_csv)

In [8]:
#Rename columns
billboard_df = billboard.rename(columns = {"Unnamed: 0":"rank",
                                           "Song":"Billboard Song",
                                           "Artist":"Billboard Artist"})
#Keep only the 1st 100 rows
billboard_df = billboard_df.head(100)

#Drop the line breaks
billboard_df = billboard_df.replace('\n','', regex=True)

billboard_df.head()

   rank            Billboard Artist                         Billboard Song
0     1                         BTS                    MAP OF THE SOUL : 7
1     2  YoungBoy Never Broke Again            Still Flexin, Still Steppin
2     3               Ozzy Osbourne                           Ordinary Man
3     4               Justin Bieber                                Changes
4     5                 Roddy Ricch  Please Excuse Me For Being Antisocial

In [9]:
#creating the html table of apple
Billboard_html_table=Billboard_top_100_df.to_html()
Billboard_html_table

In [10]:
#stripping unwanted newlines to clean up the data
Billboard_html_table.replace('\n','')

In [11]:
#creating an html table
Billboard_df.to_html('Billboard_Table.html')

### Spotify

In [13]:
#Import CSV download
spotify_csv = "Spotify/spotify_top_200.csv"
spotify = pd.read_csv(spotify_csv)

In [14]:
#Rename columns
spotify_df = spotify.rename(columns = {"Position":"rank",
                                           "Track Name":"Spotify Song",
                                           "Artist":"Spotify Artist"})
#Keep 1st 100 rows only
spotify_df = spotify_df.head(100)

#Drop unwanted columns
spotify_df=spotify_df.drop(columns=['Streams','URL'])

spotify_df.head()

   rank              Spotify Song Spotify Artist
0     1           Blinding Lights     The Weeknd
1     2                   The Box    Roddy Ricch
2     3              Dance Monkey    Tones and I
3     4           Don't Start Now       Dua Lipa
4     5  Intentions (feat. Quavo)  Justin Bieber

In [16]:
#creating the html table of apple
Spotify_html_table=Spotify_top_100.to_html()
Spotify_html_table

In [18]:
#creating an html table
Spotify_top_100.to_html('table.html')

# Join Dataframes

In [21]:
#Join all platform dfs
from functools import reduce
platforms = [apple_df, billboard_df, spotify_df]
all_df = reduce(lambda left,right: pd.merge(left,right,on='rank'), platforms)
all_df.head()

,rank,Apple Song,Apple Artist,Billboard Artist,Billboard Song,Spotify Song,Spotify Artist
0,1,The Box,Roddy Ricch,BTS,MAP OF THE SOUL : 7,Blinding Lights,The Weeknd
1,2,That Way,Lil Uzi Vert,YoungBoy Never Broke Again,"Still Flexin, Still Steppin",The Box,Roddy Ricch
2,3,Commercial (feat. Lil Uzi Vert),Lil Baby,Ozzy Osbourne,Ordinary Man,Dance Monkey,Tones and I
3,4,Heatin Up,Lil Baby & Gunna,Justin Bieber,Changes,Don't Start Now,Dua Lipa
4,5,Blinding Lights,The Weeknd,Roddy Ricch,Please Excuse Me For Being Antisocial,Intentions (feat. Quavo),Justin Bieber

In [24]:
#Normalize formatting for SQL
top_songs = all_df[['rank','Apple Song','Billboard Song','Spotify Song']]
top_songs = top_songs.rename(columns = {'Apple Song':'apple',
                                        'Billboard Song':'billboard',
                                        'Spotify Song':'spotify'})

top_songs.head()

,rank,apple,billboard,spotify
0,1,The Box,MAP OF THE SOUL : 7,Blinding Lights
1,2,That Way,"Still Flexin, Still Steppin",The Box
2,3,Commercial (feat. Lil Uzi Vert),Ordinary Man,Dance Monkey
3,4,Heatin Up,Changes,Don't Start Now
4,5,Blinding Lights,Please Excuse Me For Being Antisocial,Intentions (feat. Quavo)

In [25]:
#Normalize formatting for SQL
artists = all_df[['rank','Apple Artist','Billboard Artist','Spotify Artist']]
artists = artists.rename(columns = {'Apple Artist':'apple',
                                    'Billboard Artist':'billboard',
                                    'Spotify Artist':'spotify'})

artists.head()

   rank             apple                   billboard        spotify
0     1       Roddy Ricch                         BTS     The Weeknd
1     2      Lil Uzi Vert  YoungBoy Never Broke Again    Roddy Ricch
2     3          Lil Baby               Ozzy Osbourne    Tones and I
3     4  Lil Baby & Gunna               Justin Bieber       Dua Lipa
4     5        The Weeknd                 Roddy Ricch  Justin Bieber

# Load Dataframes in DB

In [26]:
from sqlalchemy import create_engine
import psycopg2

In [27]:
#Create engine
rds_connection_string = "postgres:postgres@localhost:5432/top_100"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [28]:
#List DB's tables
engine.table_names()

['top_songs', 'artists']

In [29]:
#Load data into top_songs table
engine.execute("DELETE from top_songs") #NEEDED IF SCROPT RAN MULTIPLE TIMES
top_songs.to_sql(name='top_songs', con=engine, if_exists='append', index=False)

In [31]:
#Load data into top_songs table
engine.execute("DELETE from artists") #NEEDED IF SCROPT RAN MULTIPLE TIMES
artists.to_sql(name='artists', con=engine, if_exists='append', index=False)

#### Confirm data has been added to DB

In [32]:
pd.read_sql_query('select * from top_songs', con=engine).head()

,rank,apple,billboard,spotify
0,1,The Box,MAP OF THE SOUL : 7,Blinding Lights
1,2,That Way,"Still Flexin, Still Steppin",The Box
2,3,Commercial (feat. Lil Uzi Vert),Ordinary Man,Dance Monkey
3,4,Heatin Up,Changes,Don't Start Now
4,5,Blinding Lights,Please Excuse Me For Being Antisocial,Intentions (feat. Quavo)

In [33]:
pd.read_sql_query('select * from artists', con=engine).head()

   rank             apple                   billboard        spotify
0     1       Roddy Ricch                         BTS     The Weeknd
1     2      Lil Uzi Vert  YoungBoy Never Broke Again    Roddy Ricch
2     3          Lil Baby               Ozzy Osbourne    Tones and I
3     4  Lil Baby & Gunna               Justin Bieber       Dua Lipa
4     5        The Weeknd                 Roddy Ricch  Justin Bieber