In [5]:
#Scraping and cleaning with Pandas
import pandas as pd

# Import and Clean Scrapped Data

### Apple

In [18]:
apple_csv = 'Apple/apple_top_100.csv'
apple = pd.read_csv(apple_csv)

In [23]:
apple_df = apple.rename(columns = {"Unnamed: 0":"Rank",
                                 "Track":"Apple Song",
                                 "Artist":"Apple Artist"})

apple_df = apple_df.replace('\n','', regex=True)

apple_df

,Rank,Apple Song,Apple Artist
0,1,The Box,Roddy Ricch
1,2,That Way,Lil Uzi Vert
2,3,Commercial (feat. Lil Uzi Vert),Lil Baby
3,4,Heatin Up,Lil Baby & Gunna
4,5,Blinding Lights,The Weeknd
...,...,...,...
95,96,Solid,Lil Baby
96,97,To Die For,Sam Smith
97,98,Glass in the Face (feat. A Boogie wit da Hoo...,G Herbo
98,99,Puesto Pa' Guerrial,Bad Bunny & Myke Towers
99,100,Roses (Imanbek Remix),SAINt JHN

In [24]:
#creating the html table of apple
#Apple_html_table=Apple_df.to_html()
#Apple_html_table

In [25]:
#stripping unwanted newlines to clean up the data
#Apple_html_table.replace('\n','')

In [ ]:
#creating an html table
#Apple_df.to_html('Apple Table')

### Billboard

In [20]:
billboard_csv = "Billboard/billboard_top_200.csv"
billboard = pd.read_csv(billboard_csv)

In [32]:
billboard_df = billboard.rename(columns = {"Unnamed: 0":"Rank",
                                           "Track":"Billboard Song",
                                           "Artist":"Billboard Artist"})

billboard_df = billboard_df.head(100)

billboard_df = billboard_df.replace('\n','', regex=True)

billboard_df.head()

   Rank            Billboard Artist                                   Song
0     1                         BTS                    MAP OF THE SOUL : 7
1     2  YoungBoy Never Broke Again            Still Flexin, Still Steppin
2     3               Ozzy Osbourne                           Ordinary Man
3     4               Justin Bieber                                Changes
4     5                 Roddy Ricch  Please Excuse Me For Being Antisocial

In [ ]:
#Billboard_html_table=Billboard_top_100_df.to_html()
#Billboard_html_table

In [ ]:
#Billboard_html_table.replace('\n','')

In [ ]:
#Billboard_top_100_df.to_html('Billboard_Table.html')

In [ ]:
#Billboard_top_100.to_html('table.html')

### Spotify

In [27]:
spotify_csv = "Spotify/spotify_top_200.csv"
spotify = pd.read_csv(spotify_csv)

In [30]:
spotify_df = spotify.rename(columns = {"Position":"Rank",
                                           "Track Name":"Spotify Song",
                                           "Artist":"Spotify Artist"})

spotify_df = spotify_df.head(100)


spotify_df=spotify_df.drop(columns=['Streams','URL'])

spotify_df.head()

   Rank              Spotify Song Spotify Artist
0     1           Blinding Lights     The Weeknd
1     2                   The Box    Roddy Ricch
2     3              Dance Monkey    Tones and I
3     4           Don't Start Now       Dua Lipa
4     5  Intentions (feat. Quavo)  Justin Bieber

In [22]:
#Spotify_html_table=Spotify_top_100.to_html()
#Spotify_html_table

In [ ]:
#Spotify_html_table.replace('\n', '')

In [ ]:
#Spotify_top_100.to_html('table.html')

# Join Dataframes

In [33]:
app_and_spo = apple_df.join(billboard_df,on='Rank')
app_and_spo

ValueError: columns overlap but no suffix specified: Index(['Rank'], dtype='object')

# Load Dataframes in DB

In [ ]:
rds_connection_string = "postgres:postgres@localhost:5432/top_100_songs"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

In [ ]:
engine.execute("DELETE from top_songs") #NEEDED IF SCROPT RAN MULTIPLE TIMES
top_songs_df.to_sql(name='top_songs', con=engine, if_exists='append', index=False)

In [ ]:
engine.execute("DELETE from artist") #NEEDED IF SCROPT RAN MULTIPLE TIMES
artists_df.to_sql(name='artist', con=engine, if_exists='append', index=False)

#### Confirm data has been added to DB

In [ ]:
pd.read_sql_query('select * from top_songs', con=engine).head()

In [ ]:
pd.read_sql_query('select * from artist', con=engine).head()