In [ ]:
#Scraping and cleaning with Pandas
import pandas as pd

# Import and Clean Scrapped Data

### Apple

In [1]:
apple_csv='apple_top_100.csv'
apple=pd.read_csv(apple_csv)

In [ ]:
apple_df=apple.rename(columns = {"Unnamed: 0":"Rank",
                                 "Track":"Song",
                                 "Artist":"Artist"})
apple_df

In [ ]:
#creating the html table of apple
Apple_html_table=Apple_df.to_html()
Apple_html_table

In [ ]:
#stripping unwanted newlines to clean up the data
Apple_html_table.replace('\n','')

In [ ]:
#creating an html table
Apple_df.to_html('Apple Table')

### Billboard

In [ ]:
billboard_csv="billboard_top_200.csv"
billboard=pd.read_csv(billboard_csv)

In [ ]:
billboard_df = billboard.rename(columns = {"Unnamed: 0":"Rank",
                                           "Song":"Song",
                                           "Artist":"Artist"})
billboard_top_100_df = billboard_df.head(100)
billboard_top_100_df

In [ ]:
Billboard_html_table=Billboard_top_100_df.to_html()
Billboard_html_table

In [ ]:
Billboard_html_table.replace('\n','')

In [ ]:
Billboard_top_100_df.to_html('Billboard_Table.html')

In [ ]:
Billboard_top_100.to_html('table.html')

### Spotify

In [ ]:
spotify_csv="spotify_top_200.csv"
spotify_df=pd.read_csv(spotify_csv)

In [ ]:
spotify_top_100_df = spotify_df.head(100)
Spotify_df=spotify_top_100_df.drop(columns=['URL'])
spotify_top_100_df

In [3]:
Spotify_html_table=Spotify_top_100.to_html()
Spotify_html_table

NameError: name 'Spotify_top_100' is not defined

In [ ]:
Spotify_html_table.replace('\n', '')

In [ ]:
Spotify_top_100.to_html('table.html')

# Join Dataframes

# Load Dataframes in DB

In [ ]:
rds_connection_string = "postgres:postgres@localhost:5432/top_100_songs"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

In [ ]:
engine.execute("DELETE from customer_name") #NEEDED IF SCROPT RAN MULTIPLE TIMES
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

In [ ]:
engine.execute("DELETE from customer_name") #NEEDED IF SCROPT RAN MULTIPLE TIMES
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

#### Confirm data has been added to DB

In [ ]:
pd.read_sql_query('select * from customer_name', con=engine).head()